
/* Font */
	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* CSS Imports */
	@import url('/colors.css');
	@import url('./assets/shared/header/navbar.css');

/* CSS Reset */
	* {margin: 0; padding: 0; box-sizing: border-box; }
	li {list-style: none;}
	a {text-decoration: none;}
	
/* Global Styles */
	html {
		font-family: 'Roboto', sans-serif;
		background-image: url('./assets/images/bgGradient.webp');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
	}
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 1em 2em;
	}	

	main { 
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1200px;
		height: 100vh;
		flex-direction: column;
	}
	
