body {
    background-image:url(src/images/spacebg2.jpg);
    background-size: cover;
    color: white;
    font-size: 20px;
    text-shadow: #ffffff;
    font-family: 'Roboto', sans-serif;
  }

li {
  margin: 1%;
}

a {
  color: #00ffff;
  font-size: 20px;
  text-decoration: none;
  font-size: 80px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

table, th, td {
  border: 5px solid black;
  border-collapse: collapse;
}
