
/* Font */
	@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* CSS Imports */
	@import url('/colors.css');
	@import url('./assets/shared/header/navbar.css');

/* CSS Reset */
	* {margin: 0; padding: 0; box-sizing: border-box; }
	li {list-style: none;}
	a {text-decoration: none;}
	
/* Global Styles */
	html{
		background-color:  var(--bg-color);
	}
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		font-family: 'Roboto', sans-serif;
		background: url("./assets/images/stars.webp") center / cover no-repeat fixed ;
	}	

	main { 
		padding: 1em 2em;
		margin: 10%;
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 1400px;
		height: 600vh;
		flex-direction: column;
	}
	
