header{
	width: 100%;
	display: flex;
	justify-content: center;
	position: sticky;
	top: 0;
	background: #00000026;
	height: 5em;
}

nav {
	width: 100%;
	max-width: 1600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-shadow: 0px 0px 5px #0000004a;
	padding: 0 1em 0 0;
}

nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a{
	font-size: 0.9em;
	color: var(--navbar-link);
	margin: 1em 1em 1em 1em;
}

nav .ham{
	display: none;
	font-size: 1.3em;
	color: var(--navbar-link);
}

.navbar-logo {
	color: var(--navbar-logo);
	font-size: 1.5em;
	font-weight:bolder;
}


  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
	nav ul {
		display: none;
	}
	nav .ham{
		display:contents;
	}
  }