:root {
	--navbar-link-font : 'Barlow Condensed', sans-serif;
	--navbar-link-font-size: 0.9em;
	--navbar-logo-font: 'Montserrat', sans-serif;
	--navbar-logo-font-size: 1.7em;
	
	--navbar-background: #1f1f449f;
	--navbar-link: #fefdff;
	--navbar-link-hover: #00fff7;
	--navbar-logo: var(--navbar-link);


	--bg-color: #1a1a39;
	--text-color: #fefdff;

	
}